<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/sunil.jpg" alt="Sunil" title="Sunny weather" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p> Sunil welcome's you heartily for visiting my  Website!!! </p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer, Competitive prommer </span>, Proficient in C++ and familiar with JAVA and PYTHON </h1>
                        <a href="https://github.com/sunilnarwaria?tab=repositories" target="sunny"><button>About my Github Repository</button></a><br>
                        <a href="https://www.linkedin.com/in/sunil-narwaria-334a31162/" target="sunny"><button>Click to visit my linkedin Profile</button></a><br>
                        <a href="https://leetcode.com/sunilnarwaria/" target="sunny"><button>About My leetcode Profile</button></a><br>
                        <a href="https://www.interviewbit.com/profile/sunilnarwaria/daily-activity" target="sunny"><button>About my InterviewBit Profile</button></a><br>
                        <p> Thanks for visiting my  Website!!! </p>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created  by *sunilnarwaria*
        </p>
    </footer>
</body>

</html>